<h1>New feedback request!</h1>

<p>From:</p>
<p>
  <%= @feedback.email %>
</p>

<p>Name:</p>
<p>
  <%= @feedback.name %>
</p>

<p>Body:</p>
<p>
  <%= @feedback.body %>
</p>

<p>Datetime:</p>
<p>
  <%= @feedback.created_at.strftime('%d.%m.%Y %H:%M') %>
</p>

<p>
  <%= link_to 'Link', admin_feedback_url(@feedback) %>
</p>
