<%= form_with model: [@test, @question], local: true do |f| %>
  <%= render 'shared/errors', resource: @question %>

  <p>
    <%= f.label :body %>
    <%= f.text_area :body, rows: 7, cols: 60 %>
  </p>

  <p><%= f.submit %></p>
<% end %>
