<div class="mb-3">
  <strong><%= t('.image_url') %>:</strong>
  <%= image_tag(@badge.image_url, width: "20%") %>
</div>

<div class="mb-3">
  <strong><%= t('.name') %>:</strong>
  <%= @badge.name %>
</div>

<div class="mb-3">
  <strong><%= t('.description') %>:</strong>
  <%= @badge.description %>
</div>

<div class="mb-3">
  <strong><%= t('.rule_type') %>:</strong>
  <%= (t"#{@badge.rule_type}") %>
</div>

<div class="mb-3">
  <strong><%= t('.rule_value') %>:</strong>
  <%= @badge.rule_value %>
</div>

<div>
  <%= link_to t('navigation.edit'), edit_admin_badge_path(@badge), class: 'btn btn-warning' %>
  <%= link_to t('navigation.back'), admin_badges_path, class: 'btn btn-secondary' %>
</div>
