<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to t('testguru'), root_path, class: 'navbar-brand' %>
    <div>
      <%= link_to t('.tests'), admin_tests_path, class: 'nav-link d-inline' %>
    </div>
    <div>
      <%= link_to t('.gists'), admin_gists_path, class: 'nav-link d-inline' %>
    </div>
    <div>
      <%= link_to t('.feedbacks'), admin_feedbacks_path, class: 'nav-link d-inline' %>
    </div>
    <div class="d-flex">
      <span class="navbar-text me-3">
        <%= t('.welcome') %>, <b class="user-email"><%= current_user.email %></b> <%= t('.guru') %>
      </span>
      <%= link_to t('.logout'), destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger' %>
    </div>
  </div>
</nav>
