<nav class="navbar">
  <div class="navbar-section navbar-left">
    <%= link_to 'TestGuru', root_path, class: 'navbar-logo' %>
    <%= link_to 'All tests', tests_path, class: 'navbar-link' %>
  </div>
  <div class="navbar-section navbar-right">
    <% if user_signed_in? %>
      <span class="navbar-text">Welcome, <%= current_user.full_name %> Guru</span>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'navbar-link' %>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path, class: 'navbar-link' %>
      <%= link_to 'Log in', new_user_session_path, class: 'navbar-link' %>
    <% end %>
  </div>
</nav>
