<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to t('testguru'), root_path, class: 'navbar-brand' %>
    <div>
      <%= link_to t('.all_tests'), tests_path, class: 'nav-link d-inline' %>
    </div>
    <% if current_user.is_a?(Admin) %>
      <div>
        <%= link_to t('.admin_panel'), admin_tests_path, class: 'nav-link d-inline' %>
      </div>
    <% end %>
    <div class="d-flex">
      <% if user_signed_in? %>
        <span class="navbar-text me-3"><%= t('.welcome', full_name: current_user.full_name) %></span>
        <%= link_to t('.logout'), destroy_user_session_path, method: :delete, class: 'nav-link d-inline' %>
      <% else %>
        <%= link_to t('.sign_up'), new_user_registration_path, class: 'nav-link d-inline me-3' %>
        <%= link_to t('.log_in'), new_user_session_path, class: 'nav-link d-inline' %>
      <% end %>
    </div>
  </div>
</nav>
