<h2><%= t('.header') %></h2>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('.title') %></th>
        <th><%= t('.level') %></th>
        <th><%= t('.category_id') %></th>
        <th><%= t('.questions') %></th>
        <th><%= t('.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @tests %>
    </tbody>
  </table>
</div>
